:root {
  --bc-3: #9d8b84;
  --bc-2: #8996a6;
  --bc-1: #849d8f;
  --inner-page: #9aafa3;
  --peach: #ffbc9e;
  --peach-dark: #e84d37;
  --main-nav-active: #d07058;
  --subscribe-form: #f8f7f4;
  --subscribe-form-text: #5a5a5a;
  --white-02: rgba(255, 255, 255, 0.2);
  --white-04: rgba(255, 255, 255, 0.4);
  --drop-nav: rgba(50, 50, 50, 1);
  --black-03: rgba(0, 0, 0, 0.3);
  --light-grey: rgba(50, 50, 50, 0.2);
  --dropdown-border: #d3d3d2;
  --dark-grey-text: #323232;
  --subscribe-form-input: rgba(178, 178, 178, 0.52);
  --placeholder: #999999;
  --dropdown-hover: #fbded7;
  --dropdown-active: #f6b5a5;
  --dropdown-current: #d07058;
  --input-text-hover: rgba(178, 178, 178, 0.52);
  --input-text-focus: rgba(46, 136, 228, 0.52);
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto.woff2) format("woff2"),
    url(../fonts/roboto.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/robotomedium.woff2) format("woff2"),
    url(../fonts/robotomedium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/robotobold.woff2) format("woff2"),
    url(../fonts/robotobold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* GLOBAL */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

/* IMG */

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

/* LIST */

.no-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* BTN LINKS */

a {
  font-family: "Roboto", sans-serif;
  text-decoration: underline var(--white-02);
  color: white;
}

a:hover,
a:active {
  color: var(--peach);
}

.link-in-white {
  color: var(--dark-grey-text);
  text-decoration: underline var(--light-grey);
}

.link-in-white:hover,
.link-in-white:active {
  color: var(--peach-dark);
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  padding: 9px 23px;
  border-radius: 70px;
  border: 0;
  color: white;
  box-sizing: border-box;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: linear-gradient(180deg, #f26843 0, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.button:hover {
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
}

.button:active {
  background-color: #fff;
  color: #000;
  box-shadow: inset 0px 2px 1px #696969;
}

.btn:hover {
  color: white;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(180deg, #f26843 0, #e74a35 100%);
  box-shadow: 0 2px 2px #ac1000;
}

.btn:active {
  color: white;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(180deg, #f26843 0, #e74a35 100%);
  box-shadow: inset 0 2px 2px #942718;
}

/* PLACEHOLDER */

::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  color: var(--placeholder);
}

::-moz-placeholder {
  font-size: 14px;
  line-height: 16px;
  color: var(--placeholder);
}

:-moz-placeholder {
  font-size: 14px;
  line-height: 16px;
  color: var(--placeholder);
}

:-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  color: var(--placeholder);
}

/* CONTAINER */

.container {
  width: 1200px;
  padding: 0 27px;
  margin: 0 auto;
  box-sizing: border-box;
}

.main-container {
  display: grid;
  grid-template-columns:
    1fr 27px calc(1146px / 4) calc(1146px / 4) calc(1146px / 4)
    calc(1146px / 4) 27px 1fr;
}

/* LAYOUT */

.main-layout {
  grid-column: 3/7;
}

.main-layout-left {
  grid-column: 3/5;
}

.main-layout-right {
  grid-column: 5/7;
}

/* BODY */

.page-body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  background-color: var(--bc-1);
  color: #fff;
  user-select: none;
}

.page-body--color2 {
  background-color: var(--bc-2);
}

.page-body--color3 {
  background-color: var(--bc-3);
}

/* HEADER */

.main-nav {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

/* LOGO */

.logo {
  position: relative;
  top: 3px;
  left: 1px;
}

/* DROPDOWN */

.dropdown {
  position: absolute;
  z-index: 1;
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--dark-grey-text);
  background-color: #fff;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

/* SECTION list */

.main-nav__list {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  display: flex;
  flex-wrap: wrap;
  margin: 12px auto 12px 0;
}

.main-nav__item {
  padding: 15px 3px;
}

.main-nav__link {
  padding: 4px 13px 6px;
  border-radius: 26px;
}

.main-nav__catalog {
  padding-left: 12px;
  position: relative;
}

.main-nav__link--current {
  background-color: var(--main-nav-active);
  text-decoration: none;
}

.main-nav__link--current:hover {
  background-color: var(--main-nav-active);
  color: white;
}

.main-nav__link--current:active {
  background-color: var(--main-nav-active);
  color: white;
  box-shadow: none;
}

/* dropdown */

.catalog-dropdown {
  display: none;
}

.main-nav__catalog:hover .catalog-dropdown {
  width: 143px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: block;
  position: absolute;
  top: 45px;
  left: 4px;
  padding: 9px 0 6px 0;
  background-color: white;
}

.catalog-dropdown__category {
  padding: 0 14px 10px;
  margin: 0 9px;
  border-bottom: 1px solid var(--light-grey);
}

.catalog-dropdown__products-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: grid;
  row-gap: 3px;
  padding: 6px 0 0;
}

.catalog-dropdown__product {
  padding: 6px 20px;
}

.catalog-dropdown__product-link,
.catalog-dropdown__product-link:hover,
.catalog-dropdown__product-link:active {
  color: black;
}

.catalog-dropdown__product:hover {
  background-color: var(--dropdown-hover);
}

.catalog-dropdown__product:active {
  background-color: var(--dropdown-active);
}

.catalog-dropdown__product--current {
  background-color: var(--dropdown-current);
}

.catalog-dropdown__product--current .catalog-dropdown__product-link {
  color: white;
}

.catalog-dropdown__product--current:hover {
  background-color: var(--dropdown-current);
}

.catalog-dropdown__product--current:active {
  background-color: var(--dropdown-current);
}

/* SECTION btn-list */

.main-nav__btn-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.main-nav__btn-link {
  padding: 10px 0;
  box-sizing: border-box;
}

/* search */

.main-nav__search {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.main-nav__search-link {
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: var(--white-02);
}

.main-nav__search-link:hover {
  background-color: white;
  color: black;
}

.main-nav__search-link:hover .main-nav__search-img {
  fill: black;
}

/* dropdown */

.main-nav__search-form {
  display: none;
}

.main-nav__search:hover .main-nav__search-form {
  position: absolute;
  display: block;
  top: 47px;
  right: 0px;
  width: 341px;
  z-index: 1;
  padding: 20px 15px;
  background-color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 20px 20px rgb(0 0 0 / 40%);
}

.main-nav__search-form-input {
  width: 100%;
  border: 1px solid var(--dropdown-border);
  padding: 13px 15px;
  border-radius: 4px;
  box-sizing: border-box;
}

/* login */

.main-nav__cart-link,
.main-nav__login-link {
  display: grid;
  grid-template-columns: 20px 1fr;
  column-gap: 8px;
  align-items: center;
  position: relative;
  padding: 6px 16px 7px;
  border-radius: 20px;
  background-color: var(--white-02);
}

.main-nav__login-links {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  display: grid;
  align-items: center;
  justify-content: end;
}

.main-nav__login-link:hover {
  background-color: white;
  color: black;
}

.main-nav__login-link:hover .main-nav__login-img {
  fill: black;
}

/* dropdown */

.main-nav__login-form {
  display: none;
}

.main-nav__login:hover .main-nav__login-form {
  width: 277px;
  height: 214px;
  display: grid;
  top: 57px;
  right: 136px;
  grid-template-columns: 103px 1fr;
  gap: 10px;
  padding: 20px 16px 22px 19px;
  box-sizing: border-box;
}

.main-nav__login-form a {
  color: var(--dark-grey-text);
}

.main-nav__login-form input {
  height: 44px;
  grid-column: 1/-1;
  padding: 5px 15px;
  border: 1px solid var(--dropdown-border);
  color: var(--dark-grey-text);
  border-radius: 4px;
  box-sizing: border-box;
}

.main-nav__login-btn {
  font-size: 18px;
  line-height: 16px;
}

/* cart */

.main-nav__cart {
  position: relative;
}

.main-nav__cart-link:hover {
  background-color: white;
  color: black;
}

.main-nav__cart-link:hover .main-nav__cart-img {
  fill: black;
}

.main-nav__cart-link--contains {
  background-color: white;
  color: black;
}

.main-nav__cart-link--contains::before {
  content: "";
  width: 20px;
  height: 19px;
  background: url(../img/icon-cart-contains.svg) no-repeat center center;
  background-size: contain;
}

/* dropdown */

.cart-dropbown {
  display: none;
}
.main-nav__cart:hover .cart-dropbown {
  width: 539px;
  height: 242px;
  display: block;
  z-index: 1;
  top: 47px;
  right: -1px;
  color: #000;
  padding: 20px 15px;
  text-align: end;
}

.cart-dropbown__list {
  font-size: 13px;
  line-height: 16px;
  display: grid;
  row-gap: 20px;
  padding: 0 5px 23px;
  text-align: left;
  color: var(--dropdown-cart-text);
  border-bottom: 1px solid #cacac7;
}

.cart-dropbown__products {
  display: grid;
  grid-template-columns: 11px min-content 235px max-content max-content;
  column-gap: 10px;
  align-items: center;
}

.cart-dropbown__close {
  display: flex;
  align-items: center;
  order: -2;
  margin: 0;
  padding: 0;
}

.cart-dropbown__close-btn {
  width: 11px;
  height: 11px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.cart-dropbown__close-btn::before {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  background: url(../img/icon-close-dropdown.svg) no-repeat center center;
  background-size: contain;
}

.cart-dropbown__products-img {
  width: 33px;
  height: 33px;
  margin: 0;
  order: -1;
}

.cart-dropbown__products-text {
  margin: 0 0 0 3px;
}

.cart-dropbown__products-price {
  color: black;
  margin: 0 0 0 5px;
}

.cart-dropbown__products-money {
  color: #ababab;
}

.cart-dropbown__products-cost {
  margin: 0 0 0 14px;
}

.cart-dropbown__products-amount {
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
}

.cart-dropbown__products-check {
  margin-left: 5px;
}

.cart-dropbown__btn {
  font-size: 18px;
  line-height: 16px;
  padding: 13px 15px;
  margin-left: auto;
}

/* SECTION contact info */

.main-nav__contacts-info {
  position: absolute;
  bottom: -47.5px;
  right: 26px;
  text-align: end;
}

.main-nav__contacts-time {
  padding-right: 1px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

.main-nav__contacts-tel {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  margin: 8px 0 0;
}

.main-nav__tel {
  text-decoration: none;
}

/* FOOTER */

.main-footer {
  display: grid;
  grid-template-columns: 260px 1fr 260px;
  grid-template-rows: repeat(2, min-content);
  grid-template-areas: "social footer-nav html-academy" "social footer-nav copy";
  padding: 18px 27px 20px 29px;
  align-items: center;
}

.main-footer__social {
  grid-area: social;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0 0 -5px -1px;
}

.main-footer__social-item {
  opacity: 0.8;
}

.main-footer__social-item:active,
.main-footer__social-item:hover {
  opacity: 1;
}

.main-footer__nav-list {
  font-size: 13px;
  line-height: 18px;
  grid-area: footer-nav;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: max-content max-content;
  gap: 5px 32px;
  align-items: center;
  margin: 10px auto 0 auto;
}

.main-footer__nav-item {
  justify-self: start;
}

.main-footer__nav-provider {
  position: relative;
}

.main-footer__nav-provider::before {
  width: 15px;
  height: 13px;
  content: "";
  position: absolute;
  top: 3px;
  left: -22px;
  background: url(../img/icon-heart.svg) no-repeat center center;
}

.main-footer__copy {
  font-size: 12px;
  line-height: 18px;
  grid-area: copy;
  justify-self: end;
  margin: 14px 0 0 70px;
}

.logo-html-academy {
  width: max-content;
  grid-area: html-academy;
  position: relative;
  top: -3px;
  left: 1px;
  margin-left: 70px;
}

/* INDEX.HTML */

/* SECTION promo */

.promo {
  position: relative;
  height: 573px;
}

.promo__slide {
  display: none;
}

.promo__slide--current {
  display: block;
}

.promo__slide-content {
  display: grid;
  justify-items: center;
}

.promo__slide-title {
  width: 672px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  padding: 322px 0 28px;
  text-align: center;
}

.promo__slide-img {
  width: 647px;
  height: 584px;
  position: absolute;
  z-index: -1;
  top: 7px;
  right: 248px;
}

.promo__slide-btn {
  min-width: 261px;
  min-height: 63px;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.05em;
  line-height: 44px;
}

/* slide backlight */

.promo__backlight {
  width: 716px;
  height: 716px;
  top: -75px;
  right: calc((1146px - 50%) - 716px / 2);
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}

.promo__backlight--1 {
  background: rgba(215, 242, 227, 0.75);
  filter: blur(250px);
}
.promo__backlight--2 {
  background: rgba(218, 228, 239, 0.75);
  filter: blur(250px);
}
.promo__backlight--3 {
  background: rgba(239, 224, 218, 0.75);
  filter: blur(250px);
}

/* controllers */

.promo__controllers {
  position: absolute;
  display: flex;
  gap: 8px;
  bottom: 60px;
  left: 1px;
}

.promo__controllers-btn {
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
}

.promo__controllers-btn:hover {
  background-color: var(--white-04);
}

.promo__controllers-btn:active {
  background-color: white;
}

.promo__controllers-btn--current {
  background-color: white;
}

.promo__controllers-btn--current:hover {
  background-color: white;
}

/* SECTION advertising */

.advertising__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 26px;
  margin-bottom: 40px;
}

.advertising__item {
  min-height: 229px;
  padding: 14px 22px 22px 17.5px;
  border-radius: 16px;
  box-sizing: border-box;
}

.advertising__title {
  font-size: 35px;
  line-height: 41px;
  margin: 0 0 16px;
}

.advertising__text {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 0 0 42px 0;
}

.advertising__btn {
  width: max-content;
  min-height: 48px;
  font-size: 18px;
  line-height: 24px;
  margin-left: auto;
  padding-left: 22px;
  padding-right: 22px;
}

.advertising__item--raspberries {
  background: url(../img/raspberries-bg.jpg) no-repeat center center;
  background-size: cover;
}

.advertising__item--chocolate {
  background: url(../img/chocolate-bg.jpg) no-repeat center center;
  background-size: cover;
}

/* SECTION catalog */

.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 33px 26px;
}

.catalog__item {
  min-height: max-content;
  position: relative;
}

.catalog__item-content:hover::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -13px;
  z-index: 2;
  width: 100%;
  height: max-content;
  height: calc(100% + 68px);
  background-color: var(--white-02);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 6px 13px;
}

.catalog__item--hit::before {
  width: 61px;
  height: 61px;
  content: "";
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  background: white url("../img/icon-hit.svg") no-repeat center center;
  background-size: 34px 27px;
  border-radius: 50%;
}

.catalog__item-content {
  position: relative;
  box-sizing: border-box;
}

.catalog__item:hover .catalog__item-content {
  z-index: 2;
}

.catalog__item-img {
  position: relative;
  width: 267px;
  height: 267px;
  border-radius: 50%;
  object-fit: cover;
}

.catalog__item:hover .catalog__item-img {
  z-index: 3;
}

.catalog__title {
  position: relative;
  z-index: 3;
  margin: 11.4px 0 0;
  text-align: center;
}

.catalog__item:hover .catalog__title {
  z-index: 3;
}

.catalog__title-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.catalog__item-price {
  position: absolute;
  z-index: 3;
  top: 162px;
  left: 0;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog__item-weight {
  font-size: 30px;
  line-height: 35px;
}

.catalog__btn {
  display: none;
}

.catalog__item:hover .catalog__btn {
  font-size: 18px;
  line-height: 24px;
  width: 200px;
  min-height: 44px;
  display: block;
  position: absolute;
  z-index: 3;
  bottom: -68px;
  left: 0;
  right: 0;
  padding: 10px 16px;
  margin: 8px auto 15px;
  box-sizing: border-box;
}

/* SECTION features */

.features {
  height: min-content;
  color: var(--dark-grey-text);
  background: url(../img/wafer-bg.png) repeat center center;
  border-radius: 16px;
  padding: 24px 20px 21px;
  margin: 38px 0 40px;
}

.features__fake-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin: 0 0 7px 0;
}

.features__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 26px;
}

.features__item {
  display: grid;
  grid-template-columns: 49px 1fr;
  gap: 6px;
}

.features__text {
  padding: 10px 0;
  margin: 0;
}

.features__item-1::before {
  content: "";
  width: 49px;
  height: 49px;
  background: url(../img/icon-ice-cream.svg) no-repeat center center;
  background-size: 16 32;
  border: 2px solid var(--dark-grey-text);
  border-radius: 50%;
  box-sizing: border-box;
}

.features__item-2::before {
  content: "";
  width: 49px;
  height: 49px;
  background: url(../img/icon-cow.svg) no-repeat center center;
  background-size: 24 24;
  border: 2px solid var(--dark-grey-text);
  border-radius: 50%;
  box-sizing: border-box;
}

.features__item-3::before {
  content: "";
  width: 49px;
  height: 49px;
  background: url(../img/icon-leaf.svg) no-repeat center center;
  background-size: 16 27;
  border: 2px solid var(--dark-grey-text);
  border-radius: 50%;
  box-sizing: border-box;
}

.features__item-4::before {
  content: "";
  width: 49px;
  height: 49px;
  background: url(../img/icon-thermometer.svg) no-repeat center center;
  background-size: 16 26;
  border: 2px solid var(--dark-grey-text);
  border-radius: 50%;
  box-sizing: border-box;
}

/* SECTION blog */

.blog {
  min-height: 220px;
  background: url(../img/strawberry-bg.jpg) no-repeat center center;
  background-size: cover;
  margin-right: 13px;
  padding: 19px 20px;
  border-radius: 16px;
  box-sizing: border-box;
  color: var(--dark-grey-text);
}

.blog__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.blog__content-title {
  width: 287px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--dark-grey-text);
  text-decoration: underline;
  margin: 0;
  cursor: pointer;
}

/* SECTION subscribe */

.subscribe {
  min-height: 220px;
  background: url(../img/message-bg.png) repeat center center;
  background-size: cover;
  border-radius: 16px;
  margin-left: 13px;
}

.subscribe__content {
  color: var(--dark-grey-text);
  background: var(--subscribe-form);
  border-radius: 16px;
  box-sizing: border-box;
  padding: 23px 16px 32px 20px;
  margin: 6px 6px 6px 6px;
}

.subscribe__text {
  margin: 0 0 41px 0;
}

.subscribe__form {
  display: flex;
}

.subscribe__form .subscribe__form-input {
  flex-grow: 1;
  border: 1px solid var(--subscribe-form-input);
  border-radius: 6px;
  padding: 13px 14px;
  margin-right: 10px;
  box-sizing: border-box;
}

.subscribe__form .subscribe__form-input:hover {
  padding: 12px 13px;
}

.subscribe__form .subscribe__form-input:focus {
  padding: 12px 13px;
}

.subscribe__submit {
  font-size: 18px;
  line-height: 24px;
  width: min-content;
  padding-left: 19px;
  padding-right: 19px;
  margin: 0 3px 3px auto;
}

/* SECTION contacts */

.contacts {
  min-height: 420px;
  margin-top: 40px;
}

.contacts__map {
  width: 100%;
  grid-area: 1/1/-1/-1;
}

.contacts__content {
  width: 303px;
  min-height: 306px;
  grid-area: 1/6/-1/7;
  z-index: 1;
  border-radius: 16px;
  justify-self: end;
  align-self: center;
  padding: 30px 26px;
  box-sizing: border-box;
  background-color: #fff;
  color: var(--dark-grey-text);
}

.contacts__term {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.contacts__defenition {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.contacts__addres {
  margin-bottom: 21px;
}

.contacts__tel {
  color: var(--dark-grey-text);
}

.contacts__time {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.contacts__btn {
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  margin-top: 31px;
}

/* CATALOG.HTML */
/* INNER PAGE */

.inner-page {
  background-color: var(--inner-page);
}

/* H1 */

.inner-page__title {
  grid-column: 3/6;
  font-size: 35px;
  line-height: 41px;
  margin: -10px 0 0 2px;
}

/* SECTION breadcrumbs */

.breadcrumbs__list {
  font-size: 14px;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
  order: -1;
  margin: 25px 0 0;
}

.breadcrumbs__item {
  margin-bottom: 10px;
}

.breadcrumbs__item:not(:last-child) {
  display: grid;
  grid-template-columns: 1fr 6px;
  column-gap: 8px;
  margin-right: 8px;
  align-items: center;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";
  display: block;
  background: url(../img/icon-breadcrumbs.svg) no-repeat center center;
  width: 12px;
  height: 12px;
}

.breadcrumbs__item:last-child .breadcrumbs__link {
  cursor: default;
  text-decoration: none;
}

.breadcrumbs__item:last-child:hover .breadcrumbs__link {
  color: white;
}

/* SECTION filter */

.filter {
  grid-column: 3/6;
  margin: 51px 0 41px;
}

.filter__form {
  display: grid;
  grid-template-columns: 196px 218px 270px 144px;
  grid-template-areas: "filter price fatness fatness" "fillers fillers fillers btn";
  gap: 37px 15px;
}

.fieldset {
  display: flex;
  align-content: center;
  align-items: center;
  position: relative;
  border: 0;
  padding: 7px 14px;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: var(--white-02);
}

.legend {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  top: -22px;
}

.filter__sort {
  grid-area: filter;
  box-sizing: border-box;
}

.filter__price {
  grid-area: price;
  padding: 10px 16px;
  box-sizing: border-box;
}

.filter__fatness {
  grid-area: fatness;
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
  box-sizing: border-box;
}

.filter__fillers {
  grid-area: fillers;
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  box-sizing: border-box;
}

.filter__submit {
  font-weight: 500;
  grid-area: btn;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  background-color: var(--white-02);
  border-radius: 20px;
  border: 2px solid #fff;
  color: #fff;
  box-sizing: border-box;
}

.filter__submit:hover {
  border: none;
  background-color: white;
  color: var(--dark-grey-text);
}

.filter__submit:active {
  border: none;
  background-color: white;
  color: var(--dark-grey-text);
  box-shadow: inset 0px 2px 1px #696969;
}

/* price range*/

.axis {
  flex-basis: 100%;
  flex-grow: 1;
  height: 2px;
  background: rgba(248, 247, 244, 0.5);
  margin: 0 5px;
  --range-start: 0%;
  --range-end: 60%;
  --range-end-num: calc(var(--range-end) - var(--range-start));
}

.bar {
  position: relative;
  width: var(--range-end-num);
  margin-left: var(--range-start);
  height: 2px;
  background-color: #f8f7f4;
}

.bar__start {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin-top: -9px;
  border: 8px solid #fff;
  background-color: #ababab;
  cursor: pointer;
}

.bar__end,
.bar__start {
  content: "";
  box-sizing: border-box;
  border-radius: 50%;
}

.bar__start:hover {
  transform: scale(1.1);
}

.bar__end:hover {
  transform: scale(1.1);
}

.bar__end {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  margin-top: -9px;
  border: 8px solid #fff;
  background-color: #ababab;
  cursor: pointer;
}

.bar__start:focus,
.bar__end:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px black;
}

/* price range */

.filter__sort {
  padding-right: 7px;
}

.filter__sort::before {
  content: "";
  width: 11px;
  height: 10px;
  position: absolute;
  z-index: 1;
  right: 11px;
  background: url("../img/icon-select.svg") no-repeat center center;
  pointer-events: none;
}

.filter__sort-select {
  width: 100%;
  position: relative;
  background-color: transparent;
  color: #fff;
  border: 0;
  appearance: none;
}

.filter__sort-select option {
  color: black;
}

.filter__fatness-label,
.filter__fillers-label {
  position: relative;
  display: grid;
  grid-template-columns: 22px 1fr;
  column-gap: 11px;
  align-items: center;
}

.filter__fatness-radio:focus + .filter__fatness-label {
  box-shadow: 0 0 0 2px white, 0 0 0 3px black;
}

.filter__fillers-input:focus + .filter__fillers-label {
  box-shadow: 0 0 0 2px white, 0 0 0 3px black;
}

.filter__fatness-label::before {
  content: "";
  box-sizing: border-box;
  border-radius: 50%;
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 22px;
  height: 22px;
  border: 3.52px solid #fff;
}

.filter__fatness-label::before,
.filter__fatness-label::after {
  opacity: 0.8;
}

.filter__group:hover .filter__fatness-label::before,
.filter__group:hover .filter__fatness-label::after {
  opacity: 1;
}

.filter__group:active .filter__fatness-label::before,
.filter__group:active .filter__fatness-label::after {
  opacity: 0.4;
}

.filter__fillers-label::before {
  opacity: 0.8;
}

.filter__group:hover .filter__fillers-label::before {
  opacity: 1;
}

.filter__group:active .filter__fillers-label::before {
  opacity: 0.4;
}

.filter__fillers-label {
  grid-template-columns: 24px 1fr;
}

.filter__fatness-radio:checked + .filter__fatness-label::after {
  content: "";
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 7.92px;
  height: 7.92px;
  align-self: center;
  justify-self: center;
  background-color: #fff;
  border-radius: 50%;
  box-sizing: border-box;
}

.filter__fillers-label::before {
  content: "";
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 24px;
  height: 20px;
  background: url(../img/icon-checkbox.svg) no-repeat left center;
  box-sizing: border-box;
}

.filter__fillers-input:checked + .filter__fillers-label::before {
  border: 0;
}

.filter__fillers-input:checked + .filter__fillers-label::before {
  content: "";
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 24px;
  height: 20px;
  background: url(../img/icon-checkbox-on.svg) no-repeat left center;
  align-self: center;
  box-sizing: border-box;
}

/* SECTION catalog */

.catalog__nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
  justify-content: flex-end;
  margin: 76px 0 30px;
}

.catalog__nav-link {
  text-decoration: none;
  width: 26px;
  height: 26px;
  display: grid;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}

.catalog__nav-link:hover {
  border-radius: 50%;
  color: white;
  background-color: var(--white-02);
}

.catalog__nav-link:active {
  border-radius: 50%;
  background-color: white;
}

.catalog__nav-link:active {
  color: black;
}

.catalog__nav-link:hover {
  color: white;
}

.catalog__nav-link:active {
  color: black;
}

.catalog__nav-btn {
  width: 21px;
  height: 21px;
}

.catalog__nav-next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: -8px;
}

.catalog__nav-back {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 4px;
  transform: rotate(180deg);
}

.catalog__nav-link--current {
  width: 26px;
  height: 26px;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: #fff;
  cursor: auto;
  border-radius: 50%;
  cursor: default;
}

.catalog__nav-link--current:hover {
  background-color: white;
}

.catalog__nav-link--current {
  color: black;
  cursor: default;
}

.catalog__nav-link--current:hover {
  color: black;
}

.catalog__nav-link--blocked {
  opacity: 0.2;
}

/* MODAL */

/* input */

.input {
  border: 1px solid var(--subscribe-form-input);
  border-radius: 4px;
  padding: 15px 15px;
  box-sizing: border-box;
}

.input:hover {
  border: 2px solid var(--input-text-hover);
  padding: 14px 14px;
}

.input:focus {
  outline: none;
  border: 2px solid var(--input-text-focus);
  padding: 14px 14px;
}

/* placeholder */

.input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.input::-moz-placeholder {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.input:-moz-placeholder {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

/* placeholder */

.feedback-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--black-03);
}

.feedback-modal__form {
  width: 477px;
  height: 441px;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 15px 25px 27px;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
  background: #ffffff;
  display: grid;
  grid-template-columns: 267px 140px;
  gap: 20px;
}

.feedback-modal__input {
  grid-column: 1 / 2;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: black;
}

.feedback-modal__title {
  grid-column: 1 / -1;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin: 0;
  color: var(--dark-grey-text);
}

.feedback-modal__textarea {
  grid-column: 1 / -1;
  min-height: 154px;
}

.feedback-modal__btn {
  grid-column: 2 / -1;
  font-size: 18px;
  line-height: 24px;
  width: 140px;
  height: 44px;
  justify-self: end;
  margin-top: 5px;
}

.modal-close {
  position: absolute;
  width: 55px;
  height: 55px;
  top: -4px;
  right: -4px;
  border: none;
  background: url("../img/icon-close.svg") no-repeat center center;
  background-size: 18px 17px;
  cursor: pointer;
}

/* blank page*/

.main-content-404__container {
  background: url("../img/404.png") no-repeat 0 center;
}
